@import "./keyframes.scss";

/* Text colors */
.txt-primary {
	color: $--color-primary;
}

.txt-grey {
	color: lighten($--color-grey, 25);
}

/* Text alignment */
.txt-center {
	text-align: center;
}

/* Text sizes */
.txt-sm {
	font-size: 0.65rem;
}

.txt-md {
	font-size: 1.35rem;
}

.txt-lg {
	font-size: 1.75rem;
}

.txt-xl {
	font-size: 4.75rem;

	@include breakpoint($--breakpoint-mobile) {
		font-size: 2.8rem;
	}
}

/* Text colors */
.txt-red {
	color: $--color-red;
}

.txt-yellow {
	color: $--color-yellow;
}

/* Text casing */
.txt-uppercase {
	text-transform: uppercase;
}

/* Correct, incorrect or current texts (animated) */
.txt-current {
	$--color-yellow-darkened: darken($--color-yellow, 20);

	position: relative;
	color: $--color-yellow-darkened;

	&::before {
		position: absolute;
		content: "";
		background-color: $--color-yellow-darkened;
		height: 3px;
		width: 100%;
		bottom: 0;
		animation: blink 0.5s forwards infinite;
	}
}

.txt-correct {
	position: relative;
	opacity: 0.3;

	&::before {
		position: absolute;
		content: attr(data-text);
		animation: fade-up 0.8s forwards;
	}
}

.txt-incorrect {
	color: $--color-red;
	opacity: 0.5;
	text-decoration: line-through;
	text-decoration-color: $--color-red;
	animation: shake $--transition-time forwards;
}

/* Link texts */
.txt-link {
	color: inherit;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		color: $--color-primary;
	}
}

/* Font weight */
.txt-normal {
	font-weight: 400;
}

.txt-bold {
	font-weight: 800;
}

/* Block text (used for inline elements to break them down) */
.txt-block {
	display: block;
}

.theme-dark {
	.txt-correct {
		opacity: 0.5;
	}

	.txt-incorrect {
		opacity: 0.8;
	}

	.txt-current {
		color: $--color-yellow;

		&::before {
			background-color: $--color-yellow;
		}
	}

	.txt-grey {
		color: $--color-grey;
	}
}