$--color-black: #000000;
$--color-white: #f7f7f7;

$--color-dark-grey: #252525;
$--color-grey: #656565;
$--color-light-grey: #cdcdcd;
$--color-primary: #e3094c;
$--color-red: #e64221;
$--color-yellow: #e1cc6d;

$--border-radius: 1.5rem;

$--container-width: 800px;
$--transition-time: 0.4s;

$--breakpoint-tablet: 768px;
$--breakpoint-mobile: 564px;

$--bezier-curve: cubic-bezier(0.4, 0.0, 0.2, 1);