* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import "modules/variables.scss";
@import "modules/mixins.scss";

html {
	font-family: sans-serif;
	font-size: 13px;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	@include breakpoint(334px) {
		min-width: 320px;
	}
}

.body {
	background-color: $--color-white;
	color: $--color-black;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0.2px;
}

/* Responsive container fluid */
.container-fluid {
	margin: 0 auto;
	max-width: $--container-width;
}

/* Section class */
.section {
	position: relative;
	display: block;
	width: 100%;

	// Need to apply specific flex styles to this element only
	&#home-page {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include breakpoint($--breakpoint-tablet) {
			flex-direction: column;
		}
	}

	&#test-page {
		display: none;
	}
}

/*
 * Since this app works as an SPA without URL routing, every element
 * is in the same page. We just display specific elements depending
 * on the events. Means, there are two <section> elements holding two
 * different pages i.e home and test page. By default, home is visible
 * which is the first section (home-page). When the test is started, the
 * "is-testing" class is applied to the <body> element to indicate that
 * the user is currently on the test page. If the "is-testing" class is
 * present, hide the first section (home-page) and show the second section
 * child (test-page) which is the test page.
*/
.is-testing {
	.section {
		&#home-page {
			display: none;
		}

		&#test-page {
			display: block;
		}
	}

	// Hide the footer while on test page
	.footer {
		display: none;
	}
}

/* Clickable option blocks for test types */
.option-list {
	display: flex;
	flex-wrap: wrap;

	&-card {
		padding: 0.75rem;
		flex-basis: 33.33%;
	}

	@include breakpoint($--breakpoint-tablet) {
		flex-direction: column;
		width: 535px;
		margin: 0 auto;
	}

	@include breakpoint($--breakpoint-mobile) {
		width: 100%;
		margin: 0;
	}
}

/* Standalone classes */
.input {
	background-color: transparent;
	color: $--color-black;
	font: normal 1.3rem 'Poppins', sans-serif;
	padding: 1rem;
	width: 100%;
	outline: none;
	resize: none;
	border: none;
	text-align: center;
	border-top: 2px solid $--color-primary;
	transition: border-top-color $--transition-time;
	caret-color: $--color-primary;

	&::-webkit-input-placeholder {
		color: $--color-grey;
	}
}

.quotes {
	font: bold 2.65rem 'Roboto Mono', sans-serif;
	letter-spacing: 0.5px;
	margin: 3rem 0;
	line-height: 1.6;

	span {
		display: inline-block;
	}

	@include breakpoint($--breakpoint-mobile) {
		font-size: 1.6rem;
		line-height: 1.4;
		margin: 0;
	}
}

.tooltip {
	position: relative;

	&::before {
		position: absolute;
		display: block;
		content: attr(data-tooltip);
		background-color: $--color-dark-grey;
		color: $--color-white;
		font-size: 0.75rem;
		padding: 0.4rem 0.75rem;
		width: 100px;
		top: -3rem;
		opacity: 0;
		text-align: center;
		pointer-events: none;
		border-radius: $--border-radius;
		transition: opacity $--transition-time $--bezier-curve;
	}

	&::after {
		position: absolute;
		content: '';
		top: -1.15rem;
		opacity: 0;
		pointer-events: none;
		border-left: 6px solid transparent;
		border-top: 7px solid $--color-dark-grey;
		border-right: 6px solid transparent;
		transition: opacity $--transition-time;
	}

	&:hover {

		&::before,
		&::after {
			opacity: 1;
			pointer-events: all;
			transition: opacity 0s;
		}
	}
}

.icon {
	display: flex;
	justify-content: center;
	margin: 0.75rem;
	cursor: pointer;

	&-group {
		display: flex;
		list-style-type: none;
	}

	&-vector {
		fill: $--color-grey;
		height: 24px;
		width: 24px;
		transition: fill $--transition-time $--bezier-curve;
	}

	&:hover {
		.icon-vector {
			fill: $--color-primary;
			transition: fill 0s;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 400px;
	margin: 2rem auto;
	padding: 5rem 0;
}

// Dark theme
.theme-dark {
	.body {
		background-color: $--color-black;
		color: $--color-white;
	}

	.input {
		color: $--color-white;

		&::-webkit-input-placeholder {
			color: rgba($--color-white, 0.45);
			opacity: 0.5;
		}
	}
}

@import "modules/button.scss";
@import "modules/card.scss";
@import "modules/modal.scss";
@import "modules/typography.scss";
@import "modules/keyframes.scss";
@import "modules/gutters.scss";
@import "modules/flex.scss";